*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
   
.container{
    display: inline-block;
    margin-top: 100px;
    margin-left: 42.5vw;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.lorem-text{
    margin: 50px 25px 0 25px;

}
.btn{
    height: 30px;
    width: 5p0x;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
    font-size: 10PX;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #00bfff;
}