* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
      
#counter {
    font-size: 50px;
    padding: 10px;
    color:black;
}
      
.button {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.3s;
}
      
.button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}