/* Global Styles and Classes */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    color: hsl(209,61%,16%);
    background: hsl(210,36%,96%);
    padding-top: 100px;
}

h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
}

/* Grocery List */
.center {
    background:rgb(252, 227, 231);
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 90vw;
    margin-top: 100px;
    margin: 0 auto;
    max-width: 35rem;   
    
}

.section-center:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.alert {
    text-transform: capitalize;
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.alert-danger {
    color: #cd212a;
    background: #f8d7da;
}

.alert-success {
    color: #009B77;
    background: #d4edd4;
}

.grocery-form h3 {
    text-align: center;
    color: hsl(205,86%,17%);
    margin-bottom: 1.5rem;
    letter-spacing:5px;
    font-size:20px;
}

.control {
    display: flex;
    justify-content: center;
}

#grocery {
    height:15px;
    width: 50px;
    padding: 0.25rem;
    padding-left: 50px;
    background: hsl(210,36%,96%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: hsl(210,22%,49%);
}

#grocery::placeholder {
    color: hsl(210,22%,49%);
}


.btn {
    text-transform: capitalize;
    border-color: transparent;
    background: hsl(205,86%,81%);
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    content: #49ace9;
    font-size: 0.85rem;
}

.submit-btn:hover {
    color: white;
    background: #49ace9;
}

.grocery-container {
    margin-top: 2rem;
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.grocery-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
}

.grocery-item:hover {
    color: hsl(210,22%,49%);
    background: hsl(210,36%,96%);
}

.title {
    margin-bottom: 0;
    color: hsl(209,61%,16%);
    letter-spacing: 2px;
}

.edit-btn,.delete-btn {
    background: transparent;
    border-color: transparent;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    cursor: pointer;
}

.edit-btn {
    color: hsl(125,71%,66%);
}

.delete-btn {
    color: hsl(360,71%,70%);
}

.edit-btn:hover {
    color: #009B77;
}

.delete-btn:hover {
    color: #cd212a;
}

.clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background: transparent;
    border-color: transparent;
    color: hsl(360,71%,70%);
    margin: 0 auto;
    cursor: pointer;
    margin-top: 1.25rem;
}

.clear-btn:hover {
    color: #cd212a;
}